<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/styles/global.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/img/getswift.png">
    <title>Driver</title>
</head>
<body class="h-fit w-11/12 mx-auto flex flex-col gap-5 bg-orange-50">
    <span class="flex justify-between items-center">
        <a href="/" class="bg-gray-900 text-white h-fit rounded-md px-4 py-2">Back</a>
        <h1 class="text-center text-3xl py-5">Driver Dashboard</h1>
    </span>
    <label class="text-xl"><b>Order Requests:</b></label>
    <div class="h-fit flex flex-col gap-10" id="notification-container">

    </div>
</body>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
  const socket = io('http://localhost:3000', {
    query: {
        user_type: 'driver',
        name: 'Driver Oghenekaro',
        id: localStorage.getItem('driverId')
    }
  });

    socket.on('connect', () => {
        console.log('connected');
    });

    socket.on('driverCreated', (data) => {
        console.log(data);
        localStorage.setItem('driverId', data.driver.id);
    })

    socket.on('orderRequested', (data) => {
        console.log(data);
        const notificationContainer = document.getElementById('notification-container');

        const div = document.createElement('div');


        div.innerHTML = `<div class="border border-gray-100 bg-white w-full mx-auto h-fit drop-shadow-md p-5">
            <div class="flex flex-col gap-4">
                <h5 class="text-xl">${data.order.sender.name} is requesting a ride</h5>
                <p class="text-lg capitalize">Current Location: ${data.order.current_location}</p>
                <p class="text-lg capitalize">Destination: ${data.order.destination}</p>
                <p class="text-lg">Price: $${data.order.price}</p>
                <button id="${data.order.id}-accept-order" href="#" class="bg-green-500 text-white rounded-md px-5 py-2">Accept</button>
                <button id="${data.order.id}-reject-order" href="#" class="bg-red-600 text-white rounded-md px-5 py-2">Reject</button>
            </div>
            </div>`
        
        notificationContainer.appendChild(div)
        
        const acceptOrderButton = document.getElementById(`${data.order.id}-accept-order`);
        const rejectOrderButton = document.getElementById(`${data.order.id}-reject-order`);

        acceptOrderButton.addEventListener('click', () => {
            socket.emit('acceptOrder', { id: data.order.id, driver_id: localStorage.getItem('driverId') });
        })

        rejectOrderButton.addEventListener('click', () => {
            socket.emit('rejectOrder', { id: data.order.id, driver_id: localStorage.getItem('driverId') });
        })
    })

    socket.on('orderAccepted', (data) => {
        console.log(data);
    
        const acceptOrderButton = document.getElementById(`${data.order.id}-accept-order`);
        const rejectOrderButton = document.getElementById(`${data.order.id}-reject-order`);

        if (acceptOrderButton) {
            acceptOrderButton.disabled = true;
            acceptOrderButton.innerHTML = 'Accepted';
        }

        if (rejectOrderButton) {
            rejectOrderButton.disabled = true;
        }
    })

    socket.on('orderRejected', (data) => {
        console.log(data);
        
        const acceptOrderButton = document.getElementById(`${data.order.id}-accept-order`);
        const rejectOrderButton = document.getElementById(`${data.order.id}-reject-order`);

        if (acceptOrderButton) {
            acceptOrderButton.disabled = true;
        }

        if (rejectOrderButton) {
            rejectOrderButton.disabled = true;
            rejectOrderButton.innerHTML = 'Rejected';
        }
    })
</script>
</html>
