<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/global.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/img/getswift.png">
    <title>Swiftly Order</title>
</head>
<body>
    <section class="h-fit flex flex-col justify-center items-center gap-10">
        <nav class="flex items-center justify-between w-11/12 py-2">
            <span class="flex gap-2 items-center">
                <img src="/img/getswift.png" class="w-10"/>
                <h3 class="font-semibold text-orange-600">SwiftlyOrder</h3>
            </span>
            <span class="flex gap-2 md:gap-14">
                <a href="/sender" class="bg-orange-600 text-white rounded-md px-2 md:px-5 py-1">Clients</a>
                <a href="/driver" class="border border-orange-600 text-orange-600 rounded-md px-2 md:px-5 py-1">Drivers</a>
            </span>
        </nav>

        <header class="w-11/12 flex flex-col lg:flex-row gap-5 md:gap-10 items-center">
            <section class="text-center lg:text-start lg:w-1/2 flex flex-col gap-5">
                <h1 class="text-3xl md:text-3xl lg:text-5xl">Order <b class="text-orange-600">Swiftly</b>, Dine <b class="text-orange-600">Happily!</b></h1>
                <p class="text-sm md:text-lg">SwiftyOrder is your ultimate solution for streamlined, efficient, and convenient ordering. With our user-friendly app, you can place orders swiftly and effortlessly, ensuring you spend less time waiting and more time enjoying your favorite meals. Whether you're in a hurry, dining in, or opting for takeout, SwiftyOrder has got you covered.</p>
            </section>
            <img src="/img/delivery.png" class="w-3/4 lg:w-1/2"/>
        </header>

        <section class="flex flex-col items-center gap-9 lg:gap-10">
            <h1 class="text-2xl md:text-4xl text-center py-5 underline">What We Offer</h1>
            <section class="w-11/12 flex flex-col lg:flex-row items-center">
                <img src="/img/img1.png" class="w-3/4 md:w-1/2"/>
                <section class="w-full lg:w-1/2 flex flex-col gap-5">
                    <h1 class="text-2xl md:text-4xl">Intuitive Ordering Interface</h1>
                    <p class="text-lg">Our app boasts a clean and intuitive interface designed to make ordering a breeze. Navigate through menus, customize your selections, and place your order within minutes.</p>
                </section>
            </section>

            <section class="w-11/12 flex flex-col-reverse lg:flex-row items-center">
                <section class="w-full lg:w-1/2 flex flex-col gap-5">
                    <h1 class="text-2xl md:text-4xl">24/7 Support</h1>
                    <p class="text-lg">Have questions or concerns? Our dedicated support team is available 24/7 to assist you with any inquiries or issues you may encounter.</p>
                </section>
                <img src="/img/support.png" class="w-1/2"/>
            </section>
        </section>

        <section class="bg-orange-900 text-center w-full py-4">
            <p class="text-white text-lg">&#169;2024, Coded by Ellahhh ❤️</p>
        </section>
    </section>
</body>
</html>