<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/styles/global.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/img/getswift.png">
    <title>Sender</title>
</head>

<body class="h-fit w-11/12 mx-auto flex flex-col gap-5 bg-orange-50">
    <span class="flex justify-between items-center">
        <a href="/" class="bg-gray-900 text-white h-fit rounded-md px-4 py-2">Back</a>
        <h1 class="text-center text-3xl py-5">Sender Dashboard</h1>
    </span>

    <form id="request-form" action="" class="flex flex-col gap-6">
        <div class="flex gap-6 items-center">
            <span class="text-xl" id="inputGroup-sizing-default">Location</span>
            <input required type="text" value="Paris" class="w-full py-2 rounded-md px-2 text-black" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="flex gap-6 items-center">
            <span class="text-xl" id="inputGroup-sizing-default">Destination</span>
            <input required type="text" value="Ottawa" class="w-full py-2 rounded-md px-2 text-black" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="flex gap-6 items-center">
            <span class="text-xl" id="inputGroup-sizing-default">Price</span>
            <input required type="number" value="100" class="w-full py-2 rounded-md px-2 text-black" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <input type="submit" class="bg-gray-800 text-white px-5 py-2 rounded-md h-fit cursor-pointer hover:bg-gray-600" value="Request">
    </form>

    <label class="text-xl"><b>Order Requests:</b></label>
    <div class="h-fit flex flex-col gap-10" id="notification-container">

    </div>
</body>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
  const socket = io('http://localhost:3000', {
    query: {
        user_type: 'sender',
        name: 'Ellahhh',
        id: localStorage.getItem('senderId')
    }
  });

    socket.on('connect', () => {
        console.log('connected');
    });

    const requestForm = document.getElementById('request-form');

    requestForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const location = e.target[0].value;
        const destination = e.target[1].value;
        const price = e.target[2].value;
        socket.emit('requestOrder', { current_location: location, destination, price, id: localStorage.getItem('senderId') });
    });

    socket.on('senderCreated', (data) => {
        console.log(data);
        localStorage.setItem('senderId', data.sender.id);
    })

    socket.on('orderAccepted', (data) => {
        console.log(data);
    
        const notificationContainer = document.getElementById('notification-container');

        const div = document.createElement('div');

        div.innerHTML = `<div class="border border-gray-100 bg-white w-full mx-auto h-fit drop-shadow-md p-5">
            <div class="flex flex-col gap-4">
                <h5 class="text-xl">${data.order.driver.name} is requesting a ride</h5>
                <p class="text-lg capitalize">Current Location: ${data.order.current_location}</p>
                <p class="text-lg capitalize">Destination: ${data.order.destination}</p>
                <p class="text-lg">Price: N${data.order.price}</p>
            </div>
            </div>`
        
        notificationContainer.appendChild(div)
    })

    socket.on('orderRejected', (data) => {
        console.log(data);
    
        const notificationContainer = document.getElementById('notification-container');

        const div = document.createElement('div');

        div.innerHTML = `<div class="border border-gray-100 bg-white w-full mx-auto h-fit drop-shadow-md p-5">
            <div class="flex flex-col gap-4">
                <h5 class="text-xl">${data.order.driver.name} is requesting a ride</h5>
                <p class="text-lg capitalize">Current Location: ${data.order.current_location}</p>
                <p class="text-lg capitalize">Destination: ${data.order.destination}</p>
                <p class="text-lg">Price: N${data.order.price}</p>
            </div>
            </div>`
        
        notificationContainer.appendChild(div)
    })

</script>
</html>
